---
import Default from "../layout/default.astro";
import { auth } from "../lib/auth";

const session = await auth.api.getSession({ headers: Astro.request.headers });
if (!session) return Astro.redirect("/sign-in");
---

<Default>
    <main class="mt-16 p-6">

    </main>
</Default>