---
import { Image } from 'astro:assets';
import { auth } from "../lib/auth";

const session = await auth.api.getSession({ headers: Astro.request.headers });
const user = session?.user;
---
<nav class="bg-neutral-800 border-b border-neutral-600 absolute top-0 left-0 right-0 w-full p-1 z-20">
    <div class="flex items-center justify-between">
        <!-- logo -->
        <a href="/" class="group">
        <Image
            src="https://placehold.co/120x120"
            width={120}
            height={120}
            alt="Logo"
            loading="eager"
            class="h-10 w-auto"
        />
        </a>
        <ul class="md:flex flex-1 items-center space-x-4 px-6 py-2 text-white">
            <li>
                <h1 class="relative group">Control Management Panel 1.0.0</h1>
            </li>
        </ul>
        <ul class="flex items-center space-x-4 px-6 py-2 text-white">
            {user && (
                <>
                    <li>
                        <div>
                            <input type="text" placeholder="Search (Ctrl+K)" class="bg-neutral-600 rounded-xs px-2 py-1 w-48" />
                        </div>
                    </li>
                    <li>
                        <button id="notifications-btn" class="bg-blue-400 hover:bg-blue-500 flex flex-row items-center gap-2 text-sm rounded-xs px-2 py-1 transition cursor-pointer">
                            <svg class="h-4 w-4 shrink-0" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M64 32C64 14.3 49.7 0 32 0S0 14.3 0 32L0 480c0 17.7 14.3 32 32 32s32-14.3 32-32l0-121.6 62.7-18.8c41.9-12.6 87.1-8.7 126.2 10.9 42.7 21.4 92.5 24 137.2 7.2l37.1-13.9c12.5-4.7 20.8-16.6 20.8-30l0-247.7c0-23-24.2-38-44.8-27.7l-11.8 5.9c-44.9 22.5-97.8 22.5-142.8 0-36.4-18.2-78.3-21.8-117.2-10.1L64 54.4 64 32z"/></svg>
                            Alerts
                            <svg class="h-4 w-4 shrink-0" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M140.3 376.8c12.6 10.2 31.1 9.5 42.8-2.2l128-128c9.2-9.2 11.9-22.9 6.9-34.9S301.4 192 288.5 192l-256 0c-12.9 0-24.6 7.8-29.6 19.8S.7 237.5 9.9 246.6l128 128 2.4 2.2z"/></svg>    
                        </button>                        
                    </li>
                    <li>
                        <button id="user-btn" class="bg-blue-400 hover:bg-blue-500 flex flex-row items-center gap-2 text-sm rounded-xs px-2 py-1 transition cursor-pointer">
                            <svg class="h-4 w-4 shrink-0" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M224 248a120 120 0 1 0 0-240 120 120 0 1 0 0 240zm-29.7 56C95.8 304 16 383.8 16 482.3 16 498.7 29.3 512 45.7 512l356.6 0c16.4 0 29.7-13.3 29.7-29.7 0-98.5-79.8-178.3-178.3-178.3l-59.4 0z"/></svg>
                            {user.name}
                            <svg class="h-4 w-4 shrink-0" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M140.3 376.8c12.6 10.2 31.1 9.5 42.8-2.2l128-128c9.2-9.2 11.9-22.9 6.9-34.9S301.4 192 288.5 192l-256 0c-12.9 0-24.6 7.8-29.6 19.8S.7 237.5 9.9 246.6l128 128 2.4 2.2z"/></svg>    
                        </button>
                    </li>
                    <li>
                        <button id="signout-btn" class="bg-blue-400 hover:bg-blue-500 flex flex-row items-center gap-2 text-sm px-2 py-1 rounded-xs transition cursor-pointer">
                            Sign Out
                            <svg class="h-4 w-4 shrink-0" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M352 96l64 0c17.7 0 32 14.3 32 32l0 256c0 17.7-14.3 32-32 32l-64 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l64 0c53 0 96-43 96-96l0-256c0-53-43-96-96-96l-64 0c-17.7 0-32 14.3-32 32s14.3 32 32 32zm-9.4 182.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L242.7 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l210.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128z"/></svg>
                        </button>
                    </li>
                </>
            )}
        </ul>
    </div>
</nav>

<script>
    document.getElementById("signout-btn")?.addEventListener("click", async () => {
        try {
            await fetch("/api/auth/sign-out", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({}),
            });
        } catch(e) {
            console.error(e);
        } finally {
            window.location.href = "/sign-in";
        }
    });
</script>